Releases/0.1/wsdlDefinitions/tracking.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.movinglab.ts.dlr.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.movinglab.ts.dlr.de/" name="TrackingManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.movinglab.ts.dlr.de/" schemaLocation="https://ts.dlr.de:443/moving-lab-web-services/endpoints/tracking?xsd=1"/>
</xsd:schema>
</types>
<message name="addTrackAndGetQuestionnaire">
<part name="req" type="tns:addTrackRequest"/>
</message>
<message name="addTrackAndGetQuestionnaireResponse">
<part name="return" type="tns:addTrackAndGetQuestionnaireResponse"/>
</message>
<message name="setTrackingAction">
<part name="req" type="tns:setTrackingActionRequest"/>
</message>
<message name="setTrackingActionResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="deleteTracks">
<part name="req" type="tns:deleteTracksRequest"/>
</message>
<message name="deleteTracksResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="getTracks">
<part name="req" type="tns:getTracksRequest"/>
</message>
<message name="getTracksResponse">
<part name="return" type="tns:getTracksResponse"/>
</message>
<message name="setSensorData">
<part name="req" type="tns:setSensorDataRequest"/>
</message>
<message name="setSensorDataResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="setTrackValidationStatus">
<part name="req" type="tns:trackValidationStatusRequest"/>
</message>
<message name="setTrackValidationStatusResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="updateTrack">
<part name="req" type="tns:updateTrackRequest"/>
</message>
<message name="updateTrackResponse">
<part name="return" type="tns:updateTrackResponse"/>
</message>
<message name="addTrack">
<part name="req" type="tns:addTrackRequest"/>
</message>
<message name="addTrackResponse">
<part name="return" type="tns:addTrackResponse"/>
</message>
<portType name="TrackingManagementInterface">
<operation name="addTrackAndGetQuestionnaire">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/addTrackAndGetQuestionnaireRequest" message="tns:addTrackAndGetQuestionnaire"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/addTrackAndGetQuestionnaireResponse" message="tns:addTrackAndGetQuestionnaireResponse"/>
</operation>
<operation name="setTrackingAction">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setTrackingActionRequest" message="tns:setTrackingAction"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setTrackingActionResponse" message="tns:setTrackingActionResponse"/>
</operation>
<operation name="deleteTracks">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/deleteTracksRequest" message="tns:deleteTracks"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/deleteTracksResponse" message="tns:deleteTracksResponse"/>
</operation>
<operation name="getTracks">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/getTracksRequest" message="tns:getTracks"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/getTracksResponse" message="tns:getTracksResponse"/>
</operation>
<operation name="setSensorData">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setSensorDataRequest" message="tns:setSensorData"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setSensorDataResponse" message="tns:setSensorDataResponse"/>
</operation>
<operation name="setTrackValidationStatus">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setTrackValidationStatusRequest" message="tns:setTrackValidationStatus"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/setTrackValidationStatusResponse" message="tns:setTrackValidationStatusResponse"/>
</operation>
<operation name="updateTrack">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/updateTrackRequest" message="tns:updateTrack"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/updateTrackResponse" message="tns:updateTrackResponse"/>
</operation>
<operation name="addTrack">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/addTrackRequest" message="tns:addTrack"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/TrackingManagementInterface/addTrackResponse" message="tns:addTrackResponse"/>
</operation>
</portType>
<binding name="TrackingManagementPortBinding" type="tns:TrackingManagementInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addTrackAndGetQuestionnaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="setTrackingAction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="deleteTracks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getTracks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="setSensorData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="setTrackValidationStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="updateTrack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="addTrack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
</binding>
<service name="TrackingManagement">
<port name="TrackingManagementPort" binding="tns:TrackingManagementPortBinding">
<soap:address location="https://ts.dlr.de:443/moving-lab-web-services/endpoints/tracking"/>
</port>
</service>
</definitions>