Releases/0.1/wsdlDefinitions/user.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.movinglab.ts.dlr.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.movinglab.ts.dlr.de/" name="UserManagement">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.movinglab.ts.dlr.de/" schemaLocation="https://ts.dlr.de:443/moving-lab-web-services/endpoints/user?xsd=1"/>
</xsd:schema>
</types>
<message name="resetPassword">
<part name="req" type="tns:resetPasswordRequest"/>
</message>
<message name="resetPasswordResponse">
<part name="return" type="tns:defaultResponse"/>
</message>
<message name="sendRegistrationKeys">
<part name="req" type="tns:registrationKeyDispatchRequest"/>
</message>
<message name="sendRegistrationKeysResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="updatePassword">
<part name="req" type="tns:updatePasswordRequest"/>
</message>
<message name="updatePasswordResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="updatePersonalData">
<part name="req" type="tns:updatePersonalDataRequest"/>
</message>
<message name="updatePersonalDataResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="updatePoi">
<part name="req" type="tns:updatePoiRequest"/>
</message>
<message name="updatePoiResponse">
<part name="return" type="tns:getPoisResponse"/>
</message>
<message name="verifyCompany">
<part name="req" type="tns:companyVerificationRequest"/>
</message>
<message name="verifyCompanyResponse">
<part name="return" type="tns:companyVerificationResponse"/>
</message>
<message name="addPoi">
<part name="req" type="tns:addPoiRequest"/>
</message>
<message name="addPoiResponse">
<part name="return" type="tns:getPoisResponse"/>
</message>
<message name="getPersonalData">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getPersonalDataResponse">
<part name="return" type="tns:getPersonalDataResponse"/>
</message>
<message name="getPersons">
<part name="req" type="tns:getPersonsRequest"/>
</message>
<message name="getPersonsResponse">
<part name="return" type="tns:getPersonsResponse"/>
</message>
<message name="getSalaryLevels">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getSalaryLevelsResponse">
<part name="return" type="tns:getSalaryLevelsResponse"/>
</message>
<message name="updateSessionValidity">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="updateSessionValidityResponse">
<part name="return" type="tns:sessionResponse"/>
</message>
<message name="deletePoi">
<part name="req" type="tns:deletePoiRequest"/>
</message>
<message name="deletePoiResponse">
<part name="return" type="tns:getPoisResponse"/>
</message>
<message name="getAgeGroups">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getAgeGroupsResponse">
<part name="return" type="tns:getAgeGroupsResponse"/>
</message>
<message name="getGraduations">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getGraduationsResponse">
<part name="return" type="tns:getGraduationsResponse"/>
</message>
<message name="getOccupations">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getOccupationsResponse">
<part name="return" type="tns:getOccupationsResponse"/>
</message>
<message name="register">
<part name="req" type="tns:registrationRequest"/>
</message>
<message name="registerResponse">
<part name="return" type="tns:loginResponse"/>
</message>
<message name="getRoles">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="getRolesResponse">
<part name="return" type="tns:getRolesResponse"/>
</message>
<message name="login">
<part name="req" type="tns:loginRequest"/>
</message>
<message name="loginResponse">
<part name="return" type="tns:loginResponse"/>
</message>
<message name="logout">
<part name="req" type="tns:sessionRequest"/>
</message>
<message name="logoutResponse">
<part name="return" type="tns:defaultResponse"/>
</message>
<portType name="UserManagementInterface">
<operation name="resetPassword">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/resetPasswordRequest" message="tns:resetPassword"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/resetPasswordResponse" message="tns:resetPasswordResponse"/>
</operation>
<operation name="sendRegistrationKeys">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/sendRegistrationKeysRequest" message="tns:sendRegistrationKeys"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/sendRegistrationKeysResponse" message="tns:sendRegistrationKeysResponse"/>
</operation>
<operation name="updatePassword">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePasswordRequest" message="tns:updatePassword"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePasswordResponse" message="tns:updatePasswordResponse"/>
</operation>
<operation name="updatePersonalData">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePersonalDataRequest" message="tns:updatePersonalData"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePersonalDataResponse" message="tns:updatePersonalDataResponse"/>
</operation>
<operation name="updatePoi">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePoiRequest" message="tns:updatePoi"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updatePoiResponse" message="tns:updatePoiResponse"/>
</operation>
<operation name="verifyCompany">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/verifyCompanyRequest" message="tns:verifyCompany"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/verifyCompanyResponse" message="tns:verifyCompanyResponse"/>
</operation>
<operation name="addPoi">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/addPoiRequest" message="tns:addPoi"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/addPoiResponse" message="tns:addPoiResponse"/>
</operation>
<operation name="getPersonalData">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getPersonalDataRequest" message="tns:getPersonalData"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getPersonalDataResponse" message="tns:getPersonalDataResponse"/>
</operation>
<operation name="getPersons">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
<operation name="getSalaryLevels">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getSalaryLevelsRequest" message="tns:getSalaryLevels"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getSalaryLevelsResponse" message="tns:getSalaryLevelsResponse"/>
</operation>
<operation name="updateSessionValidity">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updateSessionValidityRequest" message="tns:updateSessionValidity"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/updateSessionValidityResponse" message="tns:updateSessionValidityResponse"/>
</operation>
<operation name="deletePoi">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/deletePoiRequest" message="tns:deletePoi"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/deletePoiResponse" message="tns:deletePoiResponse"/>
</operation>
<operation name="getAgeGroups">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getAgeGroupsRequest" message="tns:getAgeGroups"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getAgeGroupsResponse" message="tns:getAgeGroupsResponse"/>
</operation>
<operation name="getGraduations">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getGraduationsRequest" message="tns:getGraduations"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getGraduationsResponse" message="tns:getGraduationsResponse"/>
</operation>
<operation name="getOccupations">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getOccupationsRequest" message="tns:getOccupations"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getOccupationsResponse" message="tns:getOccupationsResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/registerRequest" message="tns:register"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getRoles">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getRolesRequest" message="tns:getRoles"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/getRolesResponse" message="tns:getRolesResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/UserManagementInterface/logoutResponse" message="tns:logoutResponse"/>
</operation>
</portType>
<binding name="UserManagementPortBinding" type="tns:UserManagementInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="resetPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="sendRegistrationKeys">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="updatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="updatePersonalData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="updatePoi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="verifyCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="addPoi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getPersonalData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getSalaryLevels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="updateSessionValidity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="deletePoi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getAgeGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getGraduations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getOccupations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
</binding>
<service name="UserManagement">
<port name="UserManagementPort" binding="tns:UserManagementPortBinding">
<soap:address location="https://ts.dlr.de:443/moving-lab-web-services/endpoints/user"/>
</port>
</service>
</definitions>