ServicesFromWSDL/example/wsdl/info.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.movinglab.ts.dlr.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.movinglab.ts.dlr.de/" name="Information">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.movinglab.ts.dlr.de/" schemaLocation="https://ts.dlr.de:443/moving-lab-web-services/endpoints/info?xsd=1"/>
</xsd:schema>
</types>
<message name="getStatistic"/>
<message name="getStatisticResponse">
<part name="return" type="tns:getStatisticResponse"/>
</message>
<message name="getAvailableObjects"/>
<message name="getAvailableObjectsResponse">
<part name="return" type="tns:getObjectsResponse"/>
</message>
<message name="getCompanies"/>
<message name="getCompaniesResponse">
<part name="return" type="tns:getCompaniesResponse"/>
</message>
<portType name="InformationInterface">
<operation name="getStatistic">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getStatisticRequest" message="tns:getStatistic"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getStatisticResponse" message="tns:getStatisticResponse"/>
</operation>
<operation name="getAvailableObjects">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getAvailableObjectsRequest" message="tns:getAvailableObjects"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getAvailableObjectsResponse" message="tns:getAvailableObjectsResponse"/>
</operation>
<operation name="getCompanies">
<input wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getCompaniesRequest" message="tns:getCompanies"/>
<output wsam:Action="http://ws.movinglab.ts.dlr.de/InformationInterface/getCompaniesResponse" message="tns:getCompaniesResponse"/>
</operation>
</portType>
<binding name="InformationPortBinding" type="tns:InformationInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getStatistic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getAvailableObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
<operation name="getCompanies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.movinglab.ts.dlr.de/"/>
</output>
</operation>
</binding>
<service name="Information">
<port name="InformationPort" binding="tns:InformationPortBinding">
<soap:address location="https://ts.dlr.de:443/moving-lab-web-services/endpoints/info"/>
</port>
</service>
</definitions>